@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #444;

  background-color: #f5f5f5;
}
h1 {
  text-align: center;
  color: #ffc9c9;
  font-size: 5rem;
  opacity: 0.4;
}
form {
  margin: auto;
  max-width: 100%;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  border-radius: 20px;
}

.input {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  display: block;
  width: 100%;
  color: #444;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.input::placeholder {
  color: #d5d5d5;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.todos li {
  border-top: 1px solid #e5e5e5;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.todos li.completed {
  color: #b5b5b5;
  text-decoration: line-through;
}
.hint-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hint-container p {
  font-size: 0.5rem;
  padding: 0.3rem;
  margin: 0 auto;
  color: #adb5bd;
}
